$bg-secondary: #e6e6e6;
$bg: #32292F;
$color-primary: #fefefe;
$color-secondary: #f9a826;
$color-alert: #ff5555;
$color-text: #2f2e41;

* {
  margin: 0;
  border: 0;
  padding: 0;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100%;
  width: 100%;
  background: $bg;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  height: max-content;
}
