body {
    background-image: url("../assets/flat-geometric-shapes-background/3116556.jpg");
}

body, h1 {
	margin: 0;
}
body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}

.back-to-top {
    background-color: #880e4f;
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
    color: #d9a000;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
    display: none;
  }
  .active{
    display: inline;
  }
  .back-to-top:hover {
    background: #e9ebec;
  }
.icon-top{
    display: flex;
    justify-content: center;
    margin: 18%;
}
