/* @import url(https://cdn.cloudcache.dk/materialize/0.95.3/css/materialize-fonts.css); */

.header-home {
    width: 100%;
    text-align: center;
    background-image: url("../../assets/flat-geometric-shapes-background/bg.svg");
    color: #eee;
    padding: 200px 0;
}
.header-home > h1 {
    font-weight: 400;
    font-size: 64px;
}

.section-botoes {
    margin: 5%;
}

.button-bora {
    margin: 2%;
}

.input-home {
    width: 1000px !important;
}
.titulo-home {
    font-family: "Lobster", cursive;
}


.color-titulo-home {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1%;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
    color: #a188ff;
    display: flex;
    justify-content: flex-start;
}
